/* место для вашего кода */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #000;
    z-index: -1;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 49px 96px 51px;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 10px 33px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}


.address {
    max-width: 238px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    
}

.address .header__links-list {
    list-style: none;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.header__address {
    justify-self: end;
}

.header__address-link {
    text-underline-offset: 5px;
}

.header__link-text {
    height: 100%;
    text-decoration: none;
}

.header__link_active {
    text-decoration: underline;
}

.cover {
    position: relative;
    z-index: 1;
    padding: 173px 50px 50px 50px;
    color: #fff;
    height: 757px;
    background-color: #a7a7a7;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover__title {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
    display: block;
}

.aligned-text {
    text-align: left;
}
  
.aligned-text_center {
    text-align: center;
}
  
.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover .cover__title {
    color: white;
    font-family: Raleway, sans-serif;
}

.cover__description {
    position: absolute;
    display: inline-block;
    text-align: right;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 62px;
}

.cover__description-text, .bet-button {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.cover__description-text {
    margin-right: 78px;
    line-height: 28px; 
}

.bet-button {
    margin-right: 82px;
    border: 1px solid white;
    padding: 12px 32px;
    background-color: transparent;
}

.lots {
    padding: 179px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    list-style: none;
}

.lots__card-list-item {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 40px;
    color: #fff;
    z-index: 1;
    width: 430px;
    height: 450px;
}

.card__title {
    align-self: start;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    margin-top: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    align-self: end;
    color: #FFF;
    font-family: Raleway;
    font-style: normal;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-03.jpg');
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    z-index: 1;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 28px;
    padding: 180px 50px 90px;
}


.about__logo {
    display: flex;
    margin: 0 94px;
    background-color: #000;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    justify-content: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__column {
    display: flex;
    flex-direction: column;
}
.about__title {
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 25px;
    padding-bottom: 100px;
}

.about__text {
    margin-left: 25px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__text-padding {
    padding-top: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 90px 50px;
    justify-content: space-between;
}

.footer__menu-link {
    list-style: none;
    padding: 0px 356px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link_active {
    text-decoration: underline;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 240px;
    height: 48px;
    gap: 48px;
}

.footer__address {
    width: 239px;
    height: 97px;
    gap: 2px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}